/*** Display Settings: Fonts and Generic Element Restyling ***/
/* index.css contains actual font family, will move here when I
 * change from default */
h1, h2, h3, h4, p {
	margin: 5px;
}

h1 {
	font-size: 1.3rem;
}

h2 {
	font-size: 1.1rem;
}

h3, h4, p {
	font-size: .9rem;
}

h3 {
	text-align: center;
}

button {
	box-sizing: border-box;
	border: 0px;
	background: inherit;
	cursor: pointer;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 0.1vh;
}


.aria-only {
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

/*** Layout: Main Content ***/

html, body, #root, main, .monthly, .weekly {
	height: 100%;
}

#root, main, .monthly {
	display: flex;
	flex-flow: column;
}

main, .calendar, .monthly, .monthly section {
	flex: 1;
	overflow: hidden;
}

.weekly {
	overflow: scroll;
}

section {
	display: flex;
}

main article {
	outline: 1px solid lightgrey;
	width: calc(100% / 7);
}

/*** Layout: Main Content Header ***/

main header {
	display: flex;
	justify-content: space-around;
}

.header-group {
	display: flex;
}

.header-group span:first-child {
	/* defined by row header width in calendar
	 * need to make dynamic eventually */
	width: 46px;
}

.header-group span:last-child {
	/* defined by width of browser scrollbar */
	width: 17px;
}

.header-group > header {
	flex-grow: 1;
}

.header-group header h2 {
	margin: 0;
	flex-grow: 1;
	text-align: center;
	flex-basis: 0;
}

/*** Main Content: Monthly View ***/

.monthly article {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.monthly article ul::-webkit-scrollbar { width: 0 !important; }
.monthly article ul {
	height: 100%;
	overflow: scroll;
	scrollbar-width: none;
}

.weekly article {
	height: 4rem;
	position: relative;
}

.weekly article section::-webkit-scrollbar { width: 0 !important; }
.weekly article section {
	display: flex;
	flex-flow: column;
	overflow: scroll;
	scrollbar-width: none;
	width: 100%;
}

/*** Display Settings: Main Content Borders ***/

section article:first-child {
	border-left: 2px solid lightgrey;
}

.monthly > section:first-child {
	border-top: 1px solid lightgrey;
}

.monthly > section {
	border-top: 1px solid lightgrey;
}

/*** Display Settings: Header ***/

nav li {
	padding: 8px;
}

/* should look the same as the header links */
.site-header button {
	color: blue;
	font-size: inherit;
}

li:hover {
	cursor: pointer;
}

/*** Layout: Header ***/

.site-header {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

nav > ul {
	display: flex;
	align-items: baseline;
}

/* centers Month/Year between the change week/month links */
nav li:nth-child(-n+3) {
	order: -1;
}

.site-header li {
	display: block;
	float: left;
	position: relative;
	text-decoration: none;
	transition-duration: 0.5s;
}

.dropdown {
	visibility: hidden;
}

ul li ul {
	min-width: 5rem;
	position: absolute;
	opacity: 0;
	transition: all 0.5s ease;
	left: 0;
	display: none;
}

ul li:hover > ul,
ul li:focus-within > ul {
	visibility: visible;
	opacity: 1;
	display: block;
}

ul li ul li {
	background: white;
	outline: 1px solid lightgrey;
	box-sizing: border-box;
	clear: both;
	width: 100%;
}

/*** Layout: Event Form ***/

.event-menu {
	z-index: 3;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 3px 3px lightgrey;
	position: fixed;
	bottom: 0px;
	right: 5px;
	background: white;
}

.event-menu form > * {
	margin: 10px 5px;
}
.event-menu form div > * {
	margin-right: 10px;
}

.event-menu textarea {
	resize: none;
}

.event-menu button {
	font-size: 1.5rem;
	font-weight: bold;
}

.event-menu form button {
	float: right;
}

.close {
	display: inline-grid;
	position: absolute;
	right: 0px;
}

.event-description label {
	display: block;
}
