/*** Display Settings: Fonts and Generic Element Restyling ***/
/* index.css contains actual font family, will move here when I
 * change from default */
h1 {
	font-size: 1.3rem;
}

h2 {
	font-size: 1.1rem;
}

h3 {
	font-size: .9rem;
	text-align: center;
	margin: 5px;
}

button {
	box-sizing: border-box;
	border: 0px;
	background: inherit;
	cursor: pointer;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 0.25rem;
}

	/*border-left: 1px solid lightgrey;
	box-sizing: border-box;
	*/

.aria-only {
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	width: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}

/*** Layout: Main Content ***/

html, body, #root, main {
	height: 100%;
}

main, table, tbody {
	display: flex;
	flex-flow: column;
}

main header {
	display: flex;
	justify-content: space-around;
}

section {
	box-sizing: border-box;
	border: 1px solid lightgrey;
	display: flex;
}

main article {
	box-sizing: border-box;
	border: 1px solid lightgrey;
	width: calc(100% / 7);
}

/*** Display Settings: Header ***/

nav li {
	padding: 8px;
}

/* should look the same as the header links */
.site-header button {
	color: blue;
	font-size: inherit;
}

li:hover {
	cursor: pointer;
}

/*** Layout: Header ***/

.site-header {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

nav > ul {
	display: flex;
	align-items: baseline;
}

/* centers Month/Year between the change week/month links */
nav li:nth-child(-n+3) {
	order: -1;
}

header li {
	display: block;
	float: left;
	position: relative;
	text-decoration: none;
	transition-duration: 0.5s;
}

.dropdown {
	visibility: hidden;
}

ul li ul {
	min-width: 5rem;
	position: absolute;
	opacity: 0;
	transition: all 0.5s ease;
	left: 0;
	display: none;
}

ul li:hover > ul,
ul li:focus-within > ul {
	visibility: visible;
	opacity: 1;
	display: block;
}

ul li ul li {
	background: white;
	border: 1px solid black;
	border-collapse: collapse;
	box-sizing: border-box;
	clear: both;
	width: 100%;
}

/*** Layout: Event Form ***/

form {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
}


/*** Monthly View ***/

.monthly, tbody {
	height: 100%;
	overflow: hidden;
}

.monthly tr {
	height: calc(100% / 6);
}

.monthly td {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.monthly td ul::-webkit-scrollbar { width: 0 !important; }
.monthly td ul {
	height: 100%;
	overflow: scroll;
	scrollbar-width: none;
}

/*** Weekly View ***/

.weekly tr {
	align-items: center;
}

.weekly thead tr td:first-child {
	display: none;
}

.weekly td {
	height: 3rem;
}

/* pads column headers by width of row headers */
.weekly thead tr {
	margin-left: 40px;
}

.weekly tbody th {
	align-self: flex-start;
}

